.sidebard-panel
  %div
    %h4
      Messages
      %span.badge.badge-info.pull-right 16
    .feed-element
      %a.pull-left{:href => "#"}
        %img.img-circle{:alt => "image", :src => "img/a1.jpg"}/
      .media-body
        There are many variations of passages of Lorem Ipsum available.
        %br/
        %small.text-muted Today 4:21 pm
    .feed-element
      %a.pull-left{:href => "#"}
        %img.img-circle{:alt => "image", :src => "img/a2.jpg"}/
      .media-body
        TIt is a long established fact that.
        %br/
        %small.text-muted Yesterday 2:45 pm
    .feed-element
      %a.pull-left{:href => "#"}
        %img.img-circle{:alt => "image", :src => "img/a3.jpg"}/
      .media-body
        Many desktop publishing packages.
        %br/
        %small.text-muted Yesterday 1:10 pm
    .feed-element
      %a.pull-left{:href => "#"}
        %img.img-circle{:alt => "image", :src => "img/a4.jpg"}/
      .media-body
        The generated Lorem Ipsum is therefore always free.
        %br/
        %small.text-muted Monday 8:37 pm
  .m-t-md
    %h4 Statistics
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
    .row.m-t-sm
      .col-md-6
        %span.bar 5,3,9,6,5,9,7,3,5,2
        %h5
          %strong 169
          Posts
      .col-md-6
        %span.line 5,3,9,6,5,9,7,3,5,2
        %h5
          %strong 28
          Orders
  .m-t-md
    %h4 Discussion
    %div
      %ul.list-group
        %li.list-group-item
          %span.badge.badge-primary 16
          General topic
        %li.list-group-item
          %span.badge.badge-info 12
          The generated Lorem
        %li.list-group-item
          %span.badge.badge-warning 7
          There are many variations
